#crtScanLines{
    z-index: 100;
    position: absolute;
    top: 8;
    left: 8;
    height: 600px;
    width: 600px;
    overflow: hidden;
    opacity: 5%;
}
#canvas{
    z-index:10;
    position:absolute;
    
}

#score{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 10;
    left: 125;
    color:white;
    font-size: 20px;
    float: left;
    z-index: 1000;
}
#scoreID{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 10;
    left: 125;
    color:white;
    font-size: 20px;
    float: left;
    z-index: 1000;
}
#loss{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 10;
    left: 100;
    color:white;
    font-size: 52px;
    float: left;
    z-index: 1000;
}
#startA{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 40;
    left: 170;
    color:white;
    font-size: 52px;
    float: left;
    z-index: 1000;
}
#startB{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 90;
    left: 170;
    color:white;
    font-size: 52px;
    float: left;
    z-index: 1000;
}
#w{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 240;
    left: 180;
    color:white;
    font-size: 20px;
    float: left;
    z-index: 1000;
}
#a{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 260;
    left: 180;
    color:white;
    font-size: 20px;
    float: left;
    z-index: 1000;
}
#s{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 280;
    left: 180;
    color:white;
    font-size: 20px;
    float: left;
    z-index: 1000;
}
#d{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 300;
    left: 180;
    color:white;
    font-size: 20px;
    float: left;
    z-index: 1000;
}

#collisionCounter{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 10;
    left: 475;
    color:white;
    font-size: 20px;
    float: left;
    z-index: 1000;
}
#collisionID{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 10;
    left: 385;
    color:white;
    font-size: 20px;
    float: left;
    z-index: 1000;
}
#scoreNumber{
    font-family: 'Press Start 2P', cursive;
    font-weight: normal;
    font-size: 26px;
    font-style: italic;
}
#lostText{
    font-family: 'Press Start 2P', cursive;
    font-weight: normal;
    position: absolute;
    top: 50;
    left:77;
    display:center;
    font-size: 58px;
    z-index: 1000;
}
.car{
    height:90px;
    width:50px;
    background-color: transparent;
    z-index:20;
}
.enviroment{
    height: 50px;
    width: 50px;
}
#track{
    width:600;
    height:6000;
    z-index: -100;
}
#scanlines{
    position:absolute;
    top: 8px;
    left:8px;
    width:600px;
    height:600px;
    z-index:10000;
    opacity:20%;
    overflow: hidden;
}
#greenButton{
    position:absolute;
    top: 608px;
    left:20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}