#crtScanLines{
    z-index: 100;
    position: absolute;
    top: 8;
    left: 8;
    height: 600px;
    width: 600px;
    overflow: hidden;
    opacity: 5%;
}
#canvas{
    z-index:10;
    position:absolute
}
#score{
    position: absolute;
    top: 8;
    left: 8;
    color:white;
    font-family: 'VT323', monospace;
    font-size: 32px;
    float: left;
}
#scoreNumber{
    font-family: 'Segment7Standard';
    font-weight: normal;
    font-size: 26px;
    font-style: italic;
}
.car{
    height:90px;
    width:50px;
    background-color: transparent;
    z-index:20;
}
.enviroment{
    height: 50px;
    width: 50px;
}
#track{
    width:600;
    height:6000;
    z-index: -100;
}