#crtScanLines{
    z-index: 100;
    position: absolute;
    top: 8;
    left: 8;
    height: 600px;
    width: 600px;
    overflow: hidden;
    opacity: 5%;
}
#canvas{
    z-index:10;
    position:absolute;
    top:8px;
    left: calc(50vw - 300px);
}

#score{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 10;
    left: calc(125px + calc(50vw - 300px));
    color:white;
    font-size: 20px;
    float: left;
    z-index: 1000;
}
#scoreID{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 10;
    left: calc(125px + calc(50vw - 300px));
    color:white;
    font-size: 20px;
    float: left;
    z-index: 1000;
}
#loss{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 10;
    left: calc(92px + calc(50vw - 300px));
    color:white;
    font-size: 52px;
    float: left;
    z-index: 1000;
}
#startA{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 40;
    left: calc(170px + calc(50vw - 300px));
    color:white;
    font-size: 52px;
    float: left;
    z-index: 1000;
}
#startB{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 90;
    left: calc(170px + calc(50vw - 300px));
    color:white;
    font-size: 52px;
    float: left;
    z-index: 1000;
}
#w{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 240;
    left: calc(180px + calc(50vw - 300px));
    color:white;
    font-size: 20px;
    float: left;
    z-index: 1000;
}
#a{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 260;
    left: calc(180px + calc(50vw - 300px));
    color:white;
    font-size: 20px;
    float: left;
    z-index: 1000;
}
#s{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 280;
    left: calc(180px + calc(50vw - 300px));
    color:white;
    font-size: 20px;
    float: left;
    z-index: 1000;
}
#d{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 300;
    left: calc(180px + calc(50vw - 300px));
    color:white;
    font-size: 20px;
    float: left;
    z-index: 1000;
}

#collisionCounter{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 10;
    left: calc(475px + calc(50vw - 300px));
    color:white;
    font-size: 20px;
    float: left;
    z-index: 1000;
}
#collisionID{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 10;
    left: calc(385px + calc(50vw - 300px));
    color:white;
    font-size: 20px;
    float: left;
    z-index: 1000;
}
#scoreNumber{
    font-family: 'Press Start 2P', cursive;
    font-weight: normal;
    font-size: 26px;
    font-style: italic;
}
#lostText{
    font-family: 'Press Start 2P', cursive;
    font-weight: normal;
    position: absolute;
    top: 50;
    left:calc(77px + calc(50vw - 300px));
    display:center;
    font-size: 58px;
    z-index: 1000;
}
.car{
    height:90px;
    width:50px;
    background-color: transparent;
    z-index:20;
}
.enviroment{
    height: 50px;
    width: 50px;
}
#track{
    width:600;
    height:6000;
    z-index: -100;
}
#scanlines{
    position:absolute;
    top: 8px;
    left:calc(50vw - 300px);
    width:600px;
    height:600px;
    z-index:10000;
    opacity:100%;
    overflow: hidden;
}
#greenButton{
    position:absolute;
    top: 628px;
    left:calc(20px + calc(50vw - 300px));
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    background-color: #444444;
    border-color: #222222;
}
html{
    background-color: #222222;
}
#border{
    position: absolute;
    top: 0px;
    left: calc(50vw - 308px);
    height: 616px;
    width: 616px;
    background-color: #050505;
    border: 5px solid #050505;
    border-radius: 10px;
}